<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="css/clickedOn.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/product">Product</a>
        <a href="/cart">Cart 0</a>
        <a href="/addItems">Add Items</a>
    </nav>

    <% for(let i = 0; i < items.length; i++) { %>
        <div>
          <h1><%= items[i].productName %></h1>
          <p><%= items[i].price %></p>
          <p><%= items[i].desc %></p>
          <img src="<%= items[i].filePath %>" alt="">
          <button id="<%= items[i].productName %>">Add the bag</button>
        </div>
      <% } %>
   <script src="js/main.js"></script>
</body>
</html>